@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

.header{
    top: 0;left: 0;right: 0;
    position: fixed;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    display: flex;
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.header .logo{
    color: var(--black);
    font-weight: bolder;
    font-size: 2.5rem;
}

.header .nav a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .nav a:hover{
    color: var(--orange);
}

.header .logo i{
    color: var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background-color: var(--orange);
    color: #fff;
}

#menu-btn{
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/banner-bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span{
    color: var(--orange);
}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    /* margin: 2rem; */
    padding: 1rem 0;
    line-height: 1.8;
}

.btn{
    border: .2rem solid var(--black);
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 0.5rem;
    padding: 0.8rem 3rem;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
    background: none;
}

.btn:hover{
    background-color: var(--orange);
    color: #fff;
}

section{
    padding: 2rem 9%;
}

.head{
    text-align: center;
    font-size: 3.5rem;
    padding: 3rem 0;
    padding-bottom: 3rem;
    color: var(--black);

}

.head span{
    color: #fff;
    background-color: var(--orange);
    padding: 0.6rem 0.5rem;
    display: inline-block;
    border-radius: 5px;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.features .box-container .box{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0;
}

.features .box-container img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

.products .product-container .box img{
    height: 20rem;
}

.products .product-container{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.products .product-container:first-child{
    margin-bottom: 2rem;
}

.products .product-container .box{
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: .5rem;
    transition: .2s linear;
}

.products .product-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0;
}

.products .product-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}

.products .product-container .box .price{
    font-size: 1.8rem;
    color: var(--light-color);
    line-height: 1.8;
}

.products .product-container .box .stars{
    color: var(--orange);
    font-size: 1.7rem;
    padding: .5rem 0;

}

.categories .categories-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.categories .categories-container .box{
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: .5rem;
    transition: .2s linear;
}

.categories .categories-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .categories-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.categories .categories-container .box img{
    height: 15rem;
    margin: 2rem 0;
}

.categories .categories-container .box:hover{
    outline-offset: 0;
    outline: var(--outline-hover);
}

.review .review-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.review .review-container .box{
    background-color: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
}

.review .review-container .box:hover{
    outline-offset: 0;
    outline: var(--outline-hover);
}

.review .review-container .box img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.review .review-container .box p{
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.review .review-container .box h3{
    font-size: 2.2rem;
    padding: .5rem;
    line-height: 1.8;
    color: var(--black);
}

.review .review-container .box .stars{
    font-size: 1.7rem;
    color: var(--orange);
}

.blogs .blogs-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.blogs .blogs-container .box{
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.blogs .blogs-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-container .box .content {
    padding: 2rem;
}

.blogs .blogs-container .box .content .icons{
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.blogs .blogs-container .box .content .icons a{
    font-size: 1.5rem;
    color: var(--light-color);

}

.blogs .blogs-container .box .content .icons i{
    color: var(--orange);
    padding-right: .5rem;
}

.blogs .blogs-container .box .content h3{
    font-size: 2.2rem;
    color: var(--black);
    line-height: 1.8;
    padding:.5rem 0;
}

.blogs .blogs-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding:.5rem 0;
}

.footer{
    background-color: #fff;
}

.footer .box-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}

.footer .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--orange);
    padding-left: 0.2rem;
}

.footer .box-container .box p{
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
}


.footer .box-container .box .share a{
    color: var(--black);
    background-color: #eee;
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    margin-right: 0.2rem;
    text-align: center;
    border-radius: 0.5rem;
}

.footer .box-container .box .share a:hover{
    color: #fff;
    background-color: var(--orange);
}

.footer .box-container .box .links{
    color: var(--light-color);
    font-size: 1.5rem;
    display: block;
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: var(--orange);
    padding-right: 0.5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .email{
    background-color: #eee;
    border-radius: .5rem;
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    padding: 1rem;
    text-transform: none;
    color: var(--black);

}

.footer .box-container .box img{
    display: block;
    height: 3rem;
    margin-top: 2rem;
}








@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .nav{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .nav.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .nav a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .head{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}